.footer {
    background-color: var(--blue-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5em;
    font-family: var(--mundial-font);
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4em;
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redes li {
    margin: 1em;
}