.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background-color: #000;
    color: #fff;
    padding: 3em;
    margin: 0 3em;
}

.li {
    margin: 1em;
    font-family: var(--mundial-font);
}

.li:hover {
    color: var(--blue-color);
    transition: ease 0.2s;
}