.matriz-general {
  padding: 1.25em;
}

.titulo {
  color: var(--yellow-color);
  font-family: var(--pilsner-font);
  font-size: 2em;
  margin-left: 2.5em;
}

.descripcion {
  font-family: var(--montserrat-font);
  width: 35%;
  padding-left: 5em;
  line-height: 2em;
}

.ejes {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.triste {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.feliz {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.calmo {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.efusivo {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.vacio {
  margin-left: 5em;
  margin-top: 1em;
  font-weight: bold;
}

.cancion h4 {
  font-weight: 700;
  font-size: 1.1em;
}

.artista,
.album {
  font-weight: lighter;
}

.ejes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matriz {
  display: flex;
justify-content: center;
margin: 3em 0;
}

.puntos {
  border: 1px white solid;
  height: 3em;
  width: 3em;
}

.puntos:hover {
  background-color: var(--blue-color);
}