.matriz-general {
    padding: 1.25em;
}

.titulo {
    color: var(--yellow-color);
    font-family: var(--pilsner-font);
    font-size: 2em;
    margin-left: 2.5em;
}

.ejes {
    position: relative;
    width: 35%;
    padding-bottom: 35%;
    left: 30em;
    margin-top: 5em;
    margin-bottom: 10em;
}

.cancion {
    margin-left: 5em;
}