 .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 4em;
    background-color: black;
    overflow-x: hidden;
  }

  .divimg {
    width: 40%;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .img {
    width: auto;
    height: 85vh;
  }
  
  .textos {
    width: 70%;
  }
  
  .hero h1 {
    font-family: var(--pilsner-font);
    font-size: 5em;
    line-height: 1.25em;
    font-weight: bold;
    width: 80%;
  }
  
  .hero p {
    font-family: var(--montserrat-font);
    line-height: 1.75em;
    font-size: 1.25em;
    margin: 3em 0 1.5em 0;
    width: 80%;
  }

  .hero button {
    font-family: var(--montserrat-font);
    margin: 1em 0 1em 0;
    background-color: var(--pink-color);
    padding: 0.75em 3em;
  }